div {
  border-color: red;
  border-style: solid;
  border-width: 1px;
}
form {
  border-color: blue;
  border-style: solid;
  border-width: 1px;
}
.paragraph {
  color: red;
  background-color: chartreuse;
}
