/* div {
  border-color: red;
  border-style: solid;
  border-width: 1px;
}
form {
  border-color: blue;
  border-style: solid;
  border-width: 1px;
}
.paragraph {
  color: red;
  background-color: chartreuse;
} */
h3 {
  padding: 2px;
  margin: 2px;
}

div {
  margin-bottom: 15px;
  margin-top: 15px;
}
